:root, body.light {
  --primary-color: rgb(255, 62, 0);
  --on-primary-color: #FFFFF9;
  --primary-color-hover: rgb(255, 113, 51);
  --primary-background: #FFFFF0;
  --header-background: rgba(255, 255, 255, 0.6);
  --header-background-hover: #DFDFD0;
  --feature-background-1: rgba(255, 62, 0, 0.2);
  --feature-background-2: rgba(13, 255, 62, 0.2);
  --feature-background-3: rgba(13, 180, 255, 0.2);
  --example-background: var(--feature-background-1);
  --error-color: #F70C16;
  --link-color: #0F73A0;
  --link-color-hover: #0DB4FF;

  --primary-font-color: #4D402B;
  --primary-font-color-hover: #80735E;

  --header-height: 3.8rem;
}

body.dark {
  --error-color: #FF3A43;
  --primary-background: #111111;
  --primary-font-color: #FFFFF0;
  --primary-font-color-hover: #BFBFB0;
  --header-background: #222222;
  --header-background-hover: #323232;
  --feature-background-1: rgba(255, 62, 0, 0.5);
  --feature-background-2: rgba(13, 255, 62, 0.5);
  --feature-background-3: rgba(13, 180, 255, 0.5);
  --example-background: var(--header-background);
  --link-color: #00A8F4;
  --link-color-hover: #3CC2FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --error-color: #FF3A43;
    --primary-background: #111111;
    --primary-font-color: #FFFFF0;
    --primary-font-color-hover: #BFBFB0;
    --header-background: #222222;
    --header-background-hover: #323232;
    --feature-background-1: rgba(255, 62, 0, 0.5);
    --feature-background-2: rgba(13, 255, 62, 0.5);
    --feature-background-3: rgba(13, 180, 255, 0.5);
    --example-background: var(--header-background);
    --link-color: #00A8F4;
    --link-color-hover: #3CC2FF;
  }
}

body {
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primary-font-color);
  background: var(--primary-background);
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
  margin: 0 0 0.3em 0;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin: 1.5rem 0;
}

h1 {
  font-size: 2.1rem;
}

a {
  color: var(--primary-font-color);
  text-decoration: none;
  transition: color 100ms;
}

a:hover {
  color: var(--primary-font-color-hover);
}

code {
  font-family: inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: var(--primary-font-color);
  background-color: var(--header-background);
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

input {
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 0.3em;
  background: var(--on-primary-color);
  height: 3rem;
  width: 18rem;
}

input[aria-invalid="true"] {
  border: 2px solid var(--error-color);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
